<div class="row">
	<div class="medium-3 large-2 columns">
		<ul class="vertical menu trade-nav" id="trade-menu">
      <li class="trade-nav-title">My Listings</li>
      <li><a href="installation.html">List a New Item</a></li>
      <li><a href="starter-projects.html">My Listings</a></li>
          
      <li class="trade-nav-title">My Wants</li>
      <li><a href="global.html">Add Items To Wantlist</a></li>
      <li><a href="flexbox.html">Manage Wantlist</a></li>
    
      <li class="trade-nav-title">Filter</li>
      <li><a href="grid.html">On Wishlist</a></li>
      <li><a href="flex-grid.html">On Want-In-Trade List</a></li>
      <li><a href="flex-grid.html">On Want-To-Buy List</a></li>
      <li><a href="visibility.html">Items I Already Own</a></li>
      <li><a href="float-classes.html">Gift Certificates</a></li>
      <li><a href="float-classes.html">GeekGold</a></li>
      <li><a href="float-classes.html">Cash</a></li>

			<% if @trade.moderator_id == current_user.id %>
	      <li class="trade-nav-title">Administration</li>
	      <li><%= link_to "Edit Trade Info", edit_math_trade_path(@trade) %></li>
	      <li><a href="typography-base.html">Manage Trade Status</a></li>
	      <li><a href="typography-helpers.html">Delete Trade</a></li>
      <% end %>
    </ul>
	</div>
	<div class="medium-9 large-10 columns">
		<%= yield %>
	</div>
</div>