<div class="row center-row">
	<div class="small-12">
		<h1>
			<% case params[:filter] %>
			<% when "participating" %>
				Trades I'm Participating In
			<% when "running" %>
				Trades I'm Running
			<% when nil %>
				All Trades
			<% end %>
		</h1>
		<%= render "trade_list" %>
	</div>
</div>
