<%= render layout: "trade_layout" do %>
<h1>Manage Wantlist</h1>
<% if @wantlist.length > 0 %>
	<%= react_component "Wantlist", trade: @trade, wants: @wantlist, items: @items, groups: @groups, wants_due: !@trade.can_submit_wants?, offers_due: !@trade.can_submit_items?, confirmed: @trade.user_confirmation(current_user), status: @trade.status %>
<% else %>
	<p>
		You need to add an item to your wantlist first! Browse the list until you find an item that strikes 
		your fancy and hit the "Add" button next to it.
		<br><br>
		<%= link_to "Return to Offer List", math_trade_math_trade_items_path(@trade), class: "button large" %>
	</p>
<% end %>
<% end %>