<div class="row">
	<div class="row center-row">
		<h1>About Acceptable Trader</h1>
		<p>
			Acceptable Trader is developed by <a href="http://www.boardgamegeek.com/user/acceptableice">Acceptable Ice</a>. <br>
			- Twitter: <a href="http://www.twitter.com/acceptableice">@AcceptableIce</a><br>
			- Website: <a href="http://www.acceptableice.com/">http://www.acceptableice.com/</a><br>
			<a href="https://boardgamegeek.com/geekgold/transfer/user/AcceptableIce">GeekGold Tip Jar</a><br><br>
			Acceptable Trader is open source! Visit our <a href="http://www.github.com/acceptableice/acceptable-trader">GitHub</a>.
		</p>
		<h4>Technology</h4>
		<p>
			Acceptable Trader is built with <a href="http://www.rubyonrails.org">Ruby on Rails</a>,
			<a href="https://facebook.github.io/react/">React.js</a>,
			<a href="https://github.com/plataformatec/devise">Devise</a>,
			<a href="http://foundation.zurb.com/">Foundation</a>,
			<a href="https://select2.github.io/">Select2</a>,
			<a href="https://modernizr.com">Modernizr</a>,
			and probably some other things I've forgotten.
		</p>
		<h4>Special Thanks</h4>
		<p>
			Acceptable Trader is highly inspired by <a href="http://www.boardgamegeek.com/user/jeffyjeff">JeffyJeff's</a>
			<a href="http://bgg.activityclub.org/olwlg">OLWLG</a>. Without the OLWLG, math trades wouldn't
			be where they are today.
	</div>
</div>