<div class="row">
	<div class="row center-row">
		<h1>Acceptable Trader Rules</h1>
		<p>
			By using Acceptable Trader as either a moderator or a trader, you agree to follow the following rules.<br>
			An individual trade may further restrictions, but all trades must follow these rules or risk deletion.	
		</p>
		<div class="callout primary">
			These rules were last updated 5/13/2016.
		</div>
		
		<ol class="rules-list">
			<li>
				<h4>Accuracy of Listings</h4>
				<p>
					All items you list must be accurate. When you list an item, you agree that the item listed will be exactly
					what the recipient will receive. This includes condition, edition, language, and so forth.
					<h6>Why?</h6>
					<p>
						When you mark an item on your wantlist, you're saying that you agree to trade your item for that item.
						Inaccurate listings reduce your ability to trade with confidence.
					</p>
				</p>
			</li>
			<li>
				<h4>Trade Commitment</h4>
				<p>
					By entering at trade, you agree to ship all items which successfully trade.
					<h6>Why?</h6>
					<p>
						Receiving but not sending is unfair at best, and theft at worst.
					</p>
				</p>
			</li>
			<li>
				<h4>No Arbitrage</h4>
				<p>
					Arbitrage is trading money for money. If you list money, gift cards, GeekGold, or any other currency-type items,
					you agree to not place any other currency-type as potential want-items for your currency listings.
					<h6>Why?</h6>
					<p>
						Arbitrage is inherently unfair to the person "losing" money. While they may still be happy with their trades,
						it's still gaming the system.
					</p>
				</p>
			</li>
			<li>
				<h4>One-Way Shipping</h4>
				<p>
					All shipments must be paid by either senders or receivers; trades cannot mix the shipping payment direction. 
					Trades must specify which party is expected to pay shipping costs.
					<h6>Why?</h6>
					<p>
						More complicated shipping systems are needlessly complicated and provide little benefit relative to this complexity.
					</p>
				</p>
			</li>
		</ol>
	</div>
</div>