<%= render layout: "math_trades/trade_layout" do %>
<div class="row">
	<div class="small-12 columns">
		<h1>Edit a Listing in <%= get_trade.name %></h1>
		
		<%= render "form" %>
	</div>
</div>
<% end %>