@import "foundation_and_overrides";
@import "foundation-datetimepicker";
@import 'foundation-icons';

@import "forms";
@import "math_trades";
@import "math_trade_items";

@import "select2";
/* Add imports of custom sass/scss files here */

.top-alert {
	min-height: 20px;
	padding: 0.2rem 1rem;
	margin-bottom: 0;
	margin-top: -1px;
}

.top-alert:first-child {
	margin-top: 0;
}

.top-alert:last-child {
	margin-bottom: 1rem;
}

.main-content {
	margin: 10px;	
}

.menu-text {
	list-style: none;
}

.menu-text a {
	color: #000;
}

.no-js .responsive-menu-toggle {
	display: none;
}

.top-bar {
	background-color: #1a669f;
}

.top-bar a {
	color: #fff;
	background-color: #1a669f;
}

.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	border-top-color: #fff;
}

.top-bar ul.submenu {
	border: none;
}

.top-bar ul.submenu li:hover a {
	background-color: #4488bc;
}