// Place all the styles related to the trade controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trade-title {
	margin-bottom: -10px;
}

.due-date-exact {
	font-style: italic;
	font-size: 0.8em;
	display: inline;
}

.center {
	text-align: center;
}

.trade-nav {
	background-color: #fafafa;
	font-size: 0.9em;
	padding-bottom: 1rem;
}

.trade-nav-title {
	text-transform: uppercase;
	color: #999;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-left: 0.9rem;
	border-top: 1px solid #e9e9e9;
	font-weight: 800;
}

.trade-nav-title:first-child {
	border-top: none;
}

.trade-nav li:first-child {
  position: relative;
  top: 8px;
}

.wantlist-container {
	overflow-x: auto;
}

.wantlist {
	width: auto;
	margin-top: 60px;
}

.wantlist thead {
	 background-color: transparent;
	 border: none;
}

.wantlist th {
  height: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
}

.csstransforms .wantlist th > div {
	transform: translate(25px, 58px) rotate(315deg);
  width: 15px;
}

.csstransforms .wantlist th > div > span {
	border-bottom: 1px solid #ccc;
  padding: 1px 10px;
}

.wantlist tbody td {
	border-right: 1px solid #ccc;
	text-align: center;
	padding: 3px 10px;
	min-width: 34px;
	cursor: pointer;
}

.wantlist tbody td.wantlist-row-name {
	text-align: right;	
}

.wantlist-row-remove {
	margin: 0;
	float: left;
	margin-right: 10px;
}

.wantlist-header-group {
	color: #358741;
}

.wantlist-cell-group {
	background-color: rgba(122, 216, 151, 0.3);
}

.wantlist tr:nth-child(2n) .wantlist-cell-group {
	background-color: rgba(91, 185, 120, 0.3);
}

.wantlist tr:first-child .wantlist-cell-group {
	border-top: 1px solid #6dcc63;
}

.wantlist tr:last-child .wantlist-cell-group {
	border-bottom: 1px solid #6dcc63;
}

.wantlist .wantlist-cell-group:last-child {
	border-right: 1px solid #6dcc63;
}

.wantlist .wantlist-cell-group:first-child {
	border-left: 1px solid  #6dcc63;
}

.hidden {
	display: none
}

.wantlist-duplicate-protection {
	z-index: 15;
	position: absolute;
}
